footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  align-items: center;
  background-color: $primary-color;
  background: url(/images/footer-background.png);
  height: 100vh;
  color: white;
  text-align: center;
  .button {
    margin: 3vh 0px;
  }
  .heading {
    max-width: 60vw;
  }
  .connect-icons {
    height: calc(20px + 2vw);
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #fcf7f7;
  }
}
