@import 'variables';

.header-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	text-align: center;
	height: calc(100vh - 65.07px);
	.name-wrapper{
		font-style: normal;
		font-weight: bold;
		line-height: 33px;
		display: flex;
		justify-content: center;
		align-items: center;
		.avator{
			height: 70px;
			width: 70px;
		}
		.name{
			font-size: 27px;
		}
	}
	.occupation-big{
		font-style: normal;
		font-weight: bold;
		font-size: 141px;
		line-height: 172px;
	}
	.occupation-explain{
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 37px;
		max-width: 60vw;
		padding: 3vh 0px;
	}
	.bottom-buttons-wrapper{
		display: flex;
		padding: 5vh 0px;
		.down-arrow{
			color: $secondary-color;
			font-size: 36px;
		}
	}
}
