@import 'variables';

.header-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	text-align: center;
	height: calc(100vh - calc(20px + 2vw)); // - nav height
	padding: calc(10px + 5vh) 0px;
	.name-wrapper{
		font-style: normal;
		font-weight: bold;
		line-height: calc(1px + 2.31vw);
		display: flex;
		justify-content: center;
		align-items: center;
		.avator{
			height: calc(10px + 3.5vw);
			width: calc(10px + 3.5vw);
		}
		.name{
			font-size: calc(15px + 0.3vw);
			margin-left: calc(4px + 0.8vw);
		}
	}
	.occupation-big{
		font-style: normal;
		font-weight: bold;
		font-size: calc(1px + 10vw);
		line-height: calc(1px + 12vw);
	}
	.occupation-explain{
		font-style: normal;
		font-weight: normal;
		font-size: calc(20px + 0.8vw);
		max-width: 65vw;
	}
	.bottom-buttons-wrapper{
		padding: calc(10px + 3vw) 0px;
		.down-arrow-wrapper{
			color: $secondary-color;
			font-size: calc(10px + 1vw);
			display: flex;
			align-items: center;
			margin-left: calc(1px + 3.3vw);
		}
	}
}
