nav{
	height: 50px;
	border-bottom: 1px solid #e3d2d2b9;
	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
	align-items: center;
	padding: 0px 15px;
}
.nav-icon{
	font-size: 24px;
	margin: 8px;
}