@import 'variables';

.portfolio-project{
	background-color: black;
	color: white;
	.project-header{
		display: flex;
		align-items: center;
		position: sticky;
		top: 0;
		background-color: black;
		z-index: 2;
		box-shadow: 0px 0px 8px $primary-color;
		padding: 10px 5px 10px 10px;
    margin-right: auto;
    margin-left: auto;
		.back-button{
			background-color: white;
			color: $secondary-color;
			font-size: 18px;
			white-space: nowrap;
			padding: 10px;
		}
		.title{
			width: 100%;
			font-weight: bold;
			font-size: calc(28px + 2.3vw);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			opacity: 0.9;
			padding-left: 15px;
		}
	}
	.project-content{
		padding-bottom: 60px;
	}
}